:root {
    --background: #122c2c;
    --text: #e4e4e4;
    --primary: #6ba3a7;
    --secondary: #a3dfd5;
    --primary-active: #cdfff7;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: var(--text);
    background: url(assets/background.png), var(--background);
    background-size: 300px, auto;
    background-repeat: repeat-x, no-repeat;
    background-position: bottom;
    display: grid;
    min-height: 100svh;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2rem;
}

header a {
    color: var(--text);
    text-decoration: none;
    border: 1px solid var(--text);
    border-radius: 50px;
    padding: 1rem 2rem;
    line-height: 1;
    transition: background 0.2s ease, color 0.2s ease;
}

header a:hover {
    background: var(--primary-active);
    color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.main-text-area {
    text-align: center;
}

.main-text-area h1 {
    font-size: 2rem;
}

.main-text-area p {
    font-size: 1rem;
}

.btn-area {
    display: flex;
    gap: 2rem;
}

.sound-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 50px;
    background: var(--primary);
    border: none;
    cursor: pointer;
    color: var(--background);
    font-weight: 700;
    font-family: inherit;
    transition: background 0.2s ease;
    max-width: 280px;
}

.sound-btn:hover {
    background: var(--secondary);
}

.sound-btn.active {
    background-color: var(--primary-active);
}

footer {
    display: flex;
    justify-content: center;
    color: var(--text);
    margin: 0;
    padding: 0;
}
 
footer p {
    background-color: var(--background);
    line-height: 1;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    height: fit-content;
    border-radius: 50px;
}

footer a {
    color: var(--text);
}

@media (width < 730px) {
    header {
        justify-content: center;
    }

    .btn-area {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .sound-btn {
        width: 100%;
    }
}